<a href="https://colab.research.google.com/github/IsabelleCabriotti/Python/blob/main/Isabelle_Cabriotti_231_Est_Repeticao_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print('Exemplo do while.............\n\n')
# 1º passo - inicialização
contador = 1
# 2º passo - condição/critério de parada
while contador <= 5:
    print(contador, 'Bem vindo a Fatec!')
    contador = contador + 1 # 3º passo - incremento
print('\n\nFim\t.............')

Exemplo do while.............


1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!


Fim	.............

In [ ]:
print('\n\nExemplo do for.............\n')
# 1º passo - inicialização, 2º passo - condição/critério de parada
# e 3º passo - incremento, numa única linha no for
for contador in range(1,5):
    print(contador,'Bem vindo a Fatec!')

Exemplo do for.............

1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
q_pessoas = 0

while q_pessoas < 4:
    nome = input("Digite o nome..: ")

    print("Olá",nome)
    q_pessoas = q_pessoas + 1
print("\n\nFim")

Digite o nome..: Amanda
Olá Amanda
Digite o nome..: Claudio
Olá Claudio
Digite o nome..: Roberto
Olá Roberto
Digite o nome..: Marina
Olá Marina


Fim

In [ ]:
for q_pessoas in range (4):

    nome = input("Digite o nome..: ")
    print("Olá",nome)

Digite o nome..: Amanda
Olá Amanda
Digite o nome..: Claudio
Olá Claudio
Digite o nome..: Roberto
Olá Roberto
Digite o nome..: Marina
Olá Marina

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
numero = 0

while numero <= 15:

    print(numero)
    numero = numero + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for a in range(16):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
numero = 3

while numero <= 20:

    print(numero)
    numero = numero + 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for a in range(3, 21):
    print(a)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
tabuada = 1

while tabuada <= 10:
    tabuada2 = 5 * tabuada

    print("5 x",tabuada, "=",tabuada2)
    tabuada = tabuada + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for tabuada in range (11):
    tabuada2 = 5 * tabuada

    print("5 x",tabuada, "=",tabuada2)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
numero = 1
contador = 0

while numero <= 10:
    idade = int(input("Digite a idade..: "))
    numero += 1
    if idade >= 18:
        contador += 1

print(contador, "pessoas são maiores de idade!")

Digite a idade..: 45
Digite a idade..: 7
Digite a idade..: 16
Digite a idade..: 23
Digite a idade..: 32
Digite a idade..: 8
Digite a idade..: 5
Digite a idade..: 17
Digite a idade..: 10
Digite a idade..: 26
4 pessoas são maiores de idade!

In [ ]:
contador = 0

for numero in range (10):
    idade = int(input("Digite a idade..: "))
    if idade >= 18:
        contador += 1

print(contador, "pessoas são maiores de idade!")

Digite a idade..: 45
Digite a idade..: 7
Digite a idade..: 16
Digite a idade..: 23
Digite a idade..: 32
Digite a idade..: 8
Digite a idade..: 5
Digite a idade..: 17
Digite a idade..: 10
Digite a idade..: 26
4 pessoas são maiores de idade!

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
par = 0
impar = 0
a = 0

while a < 23:
    numero = int(input("Digite um numero..: "))
    a += 1
    if numero % 2 == 0:
        par += 1

    else:
        impar += 1

print(f"Numeros Pares..: {par}, numeros impares..: {impar}")

Digite um numero..: 32
Digite um numero..: 15
Digite um numero..: 24
Digite um numero..: 33
Digite um numero..: 45
Digite um numero..: 56
Digite um numero..: 37
Digite um numero..: 68
Digite um numero..: 74
Digite um numero..: 81
Digite um numero..: 92
Digite um numero..: 88
Digite um numero..: 73
Digite um numero..: 62
Digite um numero..: 55
Digite um numero..: 41
Digite um numero..: 36
Digite um numero..: 27
Digite um numero..: 12
Digite um numero..: 7
Digite um numero..: 10
Digite um numero..: 29
Digite um numero..: 34
Numeros Pares..: 12, numeros impares..: 11

In [ ]:
par = 0
impar = 0

for a in range (23):
    numero = int(input("Digite um numero..: "))

    if numero % 2 == 0:
        par += 1

    else:
        impar += 1

print(f"Numeros Pares..: {par}, numeros impares..: {impar}")

Digite um numero..: 32
Digite um numero..: 15
Digite um numero..: 24
Digite um numero..: 33
Digite um numero..: 45
Digite um numero..: 56
Digite um numero..: 37
Digite um numero..: 68
Digite um numero..: 74
Digite um numero..: 81
Digite um numero..: 92
Digite um numero..: 88
Digite um numero..: 73
Digite um numero..: 62
Digite um numero..: 55
Digite um numero..: 41
Digite um numero..: 36
Digite um numero..: 27
Digite um numero..: 12
Digite um numero..: 7
Digite um numero..: 10
Digite um numero..: 29
Digite um numero..: 34
Numeros Pares..: 12, numeros impares..: 11

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for):
## Salário até 300, reajuste de 50%;

##Salários maiores que 300, reajuste de 30%.

In [ ]:
funcionario = 0

while funcionario < 10:
    salario = float(input("Digite o salario atual..: "))

    if salario <= 300:
        reajuste1 = salario * 1.5
        print(f"O novo salario vai ser..: {reajuste1:.2f}")

    elif salario > 300:
        reajuste2 = salario * 1.3
        print(f"O novo salario vai ser..: {reajuste2:.2f}")

    funcionario += 1

Digite o salario atual..: 100
O novo salario vai ser..: 150.00
Digite o salario atual..: 200
O novo salario vai ser..: 300.00
Digite o salario atual..: 300
O novo salario vai ser..: 450.00
Digite o salario atual..: 400
O novo salario vai ser..: 520.00
Digite o salario atual..: 500
O novo salario vai ser..: 650.00
Digite o salario atual..: 600
O novo salario vai ser..: 780.00
Digite o salario atual..: 700
O novo salario vai ser..: 910.00
Digite o salario atual..: 800
O novo salario vai ser..: 1040.00
Digite o salario atual..: 900
O novo salario vai ser..: 1170.00
Digite o salario atual..: 1000
O novo salario vai ser..: 1300.00

In [ ]:
funcionario = 0

for funcionario in range (10):
    salario = float(input("Digite o salario atual..: "))

    if salario <= 300:
        reajuste1 = salario * 1.5
        print(f"O novo salario vai ser..: {reajuste1:.2f}")

    elif salario > 300:
        reajuste2 = salario * 1.3
        print(f"O novo salario vai ser..: {reajuste2:.2f}")

Digite o salario atual..: 100
O novo salario vai ser..: 150.00
Digite o salario atual..: 200
O novo salario vai ser..: 300.00
Digite o salario atual..: 300
O novo salario vai ser..: 450.00
Digite o salario atual..: 400
O novo salario vai ser..: 520.00
Digite o salario atual..: 500
O novo salario vai ser..: 650.00
Digite o salario atual..: 600
O novo salario vai ser..: 780.00
Digite o salario atual..: 700
O novo salario vai ser..: 910.00
Digite o salario atual..: 800
O novo salario vai ser..: 1040.00
Digite o salario atual..: 900
O novo salario vai ser..: 1170.00
Digite o salario atual..: 1000
O novo salario vai ser..: 1300.00


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
precos = 0
produtos = 0

while produtos < 4:
    precos += float(input("Digite o preço do produto..: "))
    produtos += 1

print(f"A soma total do valor dos produtos será R$..: {precos:.2f}")

Digite o preço do produto..: 50
Digite o preço do produto..: 89
Digite o preço do produto..: 28
Digite o preço do produto..: 34
A soma total do valor dos produtos será R$..: 201.00

In [ ]:
precos = 0
produtos = 0

for produtos in range (4):
    precos += float(input("Digite o preço do produto..: "))
    produtos += 1

print(f"A soma total do valor dos produtos será R$..: {precos:.2f}")

Digite o preço do produto..: 50
Digite o preço do produto..: 89
Digite o preço do produto..: 28
Digite o preço do produto..: 34
A soma total do valor dos produtos será R$..: 201.00

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
idade = 0
alunos = 0

while alunos < 5:
    idade += int(input("Digite a idade do aluno..: "))
    alunos += 1

print(f"A media de idade dos alunos será de {idade / 5:.2f} anos")

Digite a idade do aluno..: 19
Digite a idade do aluno..: 25
Digite a idade do aluno..: 18
Digite a idade do aluno..: 21
Digite a idade do aluno..: 23
A media de idade dos alunos será de 21.20 anos

In [ ]:
idade = 0
alunos = 0

for alunos in range (5):
    idade += int(input("Digite a idade do aluno..: "))
    alunos += 1

print(f"A media de idade dos alunos será de {idade / 5:.2f} anos")

Digite a idade do aluno..: 19
Digite a idade do aluno..: 25
Digite a idade do aluno..: 18
Digite a idade do aluno..: 21
Digite a idade do aluno..: 23
A media de idade dos alunos será de 21.20 anos

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
precos = 0
produtos = 0

while produtos < 4:
    precos += float(input("Digite o preço do produto..: "))
    produtos += 1

print(f"A soma total do valor dos produtos será R$..: {precos / 4:.2f}")

Digite o preço do produto..: 15
Digite o preço do produto..: 26
Digite o preço do produto..: 48
Digite o preço do produto..: 34
A soma total do valor dos produtos será R$..: 30.75

In [ ]:
precos = 0
produtos = 0

for produtos in range (4):
    precos += float(input("Digite o preço do produto..: "))
    produtos += 1

print(f"A soma total do valor dos produtos será R$..: {precos / 4:.2f}")

Digite o preço do produto..: 15
Digite o preço do produto..: 26
Digite o preço do produto..: 48
Digite o preço do produto..: 34
A soma total do valor dos produtos será R$..: 30.75

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
altura_media = 0
quantidade = 0
pessoas = 0

while pessoas < 20:
    idade = int(input("Informe a idade..: "))
    altura = float(input("Informe a altura..: "))

    if idade > 20:
        quantidade += 1
        altura_media += altura

    pessoas += 1

print(f"A media de altura das pessoas que possuem mais de 20 anos será de..: {altura_media / quantidade:.2f}")

Informe a idade..: 28
Informe a altura..: 1.60
Informe a idade..: 47
Informe a altura..: 1.75
Informe a idade..: 12
Informe a altura..: 1.30
Informe a idade..: 55
Informe a altura..: 1.80
Informe a idade..: 21
Informe a altura..: 1.62
Informe a idade..: 29
Informe a altura..: 1.55
Informe a idade..: 15
Informe a altura..: 1.45
Informe a idade..: 70
Informe a altura..: 1.70
Informe a idade..: 39
Informe a altura..: 1.82
Informe a idade..: 35
Informe a altura..: 1.90
Informe a idade..: 24
Informe a altura..: 1.73
Informe a idade..: 22
Informe a altura..: 1.65
Informe a idade..: 49
Informe a altura..: 1.83
Informe a idade..: 51
Informe a altura..: 1.78
Informe a idade..: 33
Informe a altura..: 1.54
Informe a idade..: 16
Informe a altura..: 1.58
Informe a idade..: 10
Informe a altura..: 1.20
Informe a idade..: 25
Informe a altura..: 1.92
Informe a idade..: 45
Informe a altura..: 1.59
Informe a idade..: 38
Informe a altura..: 1.78
A media de idade das pessoas que possuem mais de 20 anos será de..: 1.72

In [ ]:
altura_media = 0
quantidade = 0
pessoas = 0

for pessoas in range (20):
    idade = int(input("Informe a idade..: "))
    altura = float(input("Informe a altura..: "))

    if idade > 20:
        quantidade += 1
        altura_media += altura

    pessoas += 1

print(f"A media de altura das pessoas que possuem mais de 20 anos será de..: {altura_media / quantidade:.2f}")

Informe a idade..: 28
Informe a altura..: 1.60
Informe a idade..: 47
Informe a altura..: 1.75
Informe a idade..: 12
Informe a altura..: 1.30
Informe a idade..: 55
Informe a altura..: 1.80
Informe a idade..: 21
Informe a altura..: 1.62
Informe a idade..: 29
Informe a altura..: 1.55
Informe a idade..: 15
Informe a altura..: 1.45
Informe a idade..: 70
Informe a altura..: 1.70
Informe a idade..: 39
Informe a altura..: 1.82
Informe a idade..: 35
Informe a altura..: 1.90
Informe a idade..: 24
Informe a altura..: 1.73
Informe a idade..: 22
Informe a altura..: 1.65
Informe a idade..: 49
Informe a altura..: 1.83
Informe a idade..: 51
Informe a altura..: 1.78
Informe a idade..: 33
Informe a altura..: 1.54
Informe a idade..: 16
Informe a altura..: 1.58
Informe a idade..: 10
Informe a altura..: 1.20
Informe a idade..: 25
Informe a altura..: 1.92
Informe a idade..: 45
Informe a altura..: 1.59
Informe a idade..: 38
Informe a altura..: 1.78
A media de altura das pessoas que possuem mais de 20 anos será de..: 1.72

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
media_precos = 0
quantidade = 0
tv = 0

while tv < 20:
    preco = float(input("Digite o valor da TV..: "))

    if preco > 1000:
        media_precos += preco
        quantidade += 1

    tv += 1

print(f"A media de preço das TVs que custam mais de R$ 1.000 será de..: R$ {media_precos / quantidade}")

Digite o valor da TV..: 1200
Digite o valor da TV..: 900
Digite o valor da TV..: 1550
Digite o valor da TV..: 780
Digite o valor da TV..: 1980
Digite o valor da TV..: 999
Digite o valor da TV..: 820
Digite o valor da TV..: 2500
Digite o valor da TV..: 3480
Digite o valor da TV..: 1700
Digite o valor da TV..: 1400
Digite o valor da TV..: 990
Digite o valor da TV..: 1760
Digite o valor da TV..: 3000
Digite o valor da TV..: 1880
Digite o valor da TV..: 1239
Digite o valor da TV..: 1220
Digite o valor da TV..: 1799
Digite o valor da TV..: 723
Digite o valor da TV..: 3500
A media de preço das TVs que custam mais de R$ 1.000 será de..: R$ 2014.857142857143

In [ ]:
media_precos = 0
quantidade = 0
tv = 0

for tv in range (20):
    preco = float(input("Digite o valor da TV..: "))

    if preco > 1000:
        media_precos += preco
        quantidade += 1

    tv += 1

print(f"A media de preço das TVs que custam mais de R$ 1.000 será de..: R$ {media_precos / quantidade}")

Digite o valor da TV..: 1200
Digite o valor da TV..: 900
Digite o valor da TV..: 1550
Digite o valor da TV..: 780
Digite o valor da TV..: 1980
Digite o valor da TV..: 999
Digite o valor da TV..: 820
Digite o valor da TV..: 2500
Digite o valor da TV..: 3480
Digite o valor da TV..: 1700
Digite o valor da TV..: 1400
Digite o valor da TV..: 990
Digite o valor da TV..: 1760
Digite o valor da TV..: 3000
Digite o valor da TV..: 1880
Digite o valor da TV..: 1239
Digite o valor da TV..: 1220
Digite o valor da TV..: 1799
Digite o valor da TV..: 723
Digite o valor da TV..: 3500
A media de preço das TVs que custam mais de R$ 1.000 será de..: R$ 2014.857142857143

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
qpessoas = 0

while qpessoas < 5:
    altura = float(input('Informe a altura..: '))
    nome = input('Informe o nome..: ')

    if qpessoas == 0:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    qpessoas = qpessoas + 1

print('Alto..: ', alto, 'metros, nome..: ',nome_alto)
print('Baixo..: ', baixo, 'metros, nome..: ', nome_baixo)

Informe a altura..: 1.60
Informe o nome..: André
Informe a altura..: 1.75
Informe o nome..: Ricardo
Informe a altura..: 2.00
Informe o nome..: Thiago
Informe a altura..: 1.65
Informe o nome..: Ana
Informe a altura..: 1.55
Informe o nome..: Fabia
Alto..:  2.0 metros, nome..:  Thiago
Baixo..:  1.55 metros, nome..:  Fabia

In [ ]:
qpessoas = 0

for qpessoas in range (5):
    altura = float(input('Informe a altura..: '))
    nome = input('Informe o nome..: ')

    if qpessoas == 0:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    qpessoas = qpessoas + 1

print('Alto..: ', alto, 'metros, nome..: ',nome_alto)
print('Baixo..: ', baixo, 'metros, nome..: ', nome_baixo)

Informe a altura..: 1.60
Informe o nome..: André
Informe a altura..: 1.75
Informe o nome..: Ricardo
Informe a altura..: 2.00
Informe o nome..: Thiago
Informe a altura..: 1.65
Informe o nome..: Ana
Informe a altura..: 1.55
Informe o nome..: Fabia
Alto..:  2.0 metros, nome..:  Thiago
Baixo..:  1.55 metros, nome..:  Fabia

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
contador = 0

while contador < 10:
    numero = int(input("Informe o valor desejado..: "))

    if contador == 0:
        numero_maior = numero
        numero_menor = numero
    if numero > numero_maior:
        numero_maior = numero
    if numero < numero_menor:
            numero_menor = numero
    contador = contador + 1

print("Maior valor..: ", numero_maior, "\tMenor valor..: ", numero_menor)

Informe o valor desejado..: 65
Informe o valor desejado..: 32
Informe o valor desejado..: 41
Informe o valor desejado..: 9
Informe o valor desejado..: 6
Informe o valor desejado..: 36
Informe o valor desejado..: 74
Informe o valor desejado..: 5
Informe o valor desejado..: 12
Informe o valor desejado..: 18
Maior valor..:  74 	Menor valor..:  5

In [ ]:
contador = 0

for contador in range (10):
    numero = int(input("Informe o valor desejado..: "))

    if contador == 0:
        numero_maior = numero
        numero_menor = numero
    if numero > numero_maior:
        numero_maior = numero
    if numero < numero_menor:
            numero_menor = numero
    contador = contador + 1

print("Maior valor..: ", numero_maior, "\tMenor valor..: ", numero_menor)

Informe o valor desejado..: 65
Informe o valor desejado..: 32
Informe o valor desejado..: 41
Informe o valor desejado..: 9
Informe o valor desejado..: 6
Informe o valor desejado..: 36
Informe o valor desejado..: 74
Informe o valor desejado..: 5
Informe o valor desejado..: 12
Informe o valor desejado..: 18
Maior valor..:  74 	Menor valor..:  5

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
contador = 0
ra = 0

while contador < 40:
    nota = int(input("Digite a nota do aluno..: "))
    ra = input("Digite o RA do aluno..: ")

    if contador == 0:
        nota_maior = nota
        nota_menor = nota
    if nota > nota_maior:
            nota_maior = nota
            ra_maior = ra
    if nota < nota_menor:
            nota_menor = nota
            ra_menor = ra
    contador = contador + 1

print("A maior nota será..:", nota_maior, "- RAs..:", ra_maior)
print("A menor nota será..:", nota_menor, "- RAs..:", ra_menor)

Digite a nota do aluno..: 2
Digite o RA do aluno..: 346
Digite a nota do aluno..: 5
Digite o RA do aluno..: 212
Digite a nota do aluno..: 10
Digite o RA do aluno..: 251
Digite a nota do aluno..: 3
Digite o RA do aluno..: 494
Digite a nota do aluno..: 10
Digite o RA do aluno..: 428
Digite a nota do aluno..: 5
Digite o RA do aluno..: 422
Digite a nota do aluno..: 9
Digite o RA do aluno..: 141
Digite a nota do aluno..: 9
Digite o RA do aluno..: 284
Digite a nota do aluno..: 10
Digite o RA do aluno..: 147
Digite a nota do aluno..: 4
Digite o RA do aluno..: 285
Digite a nota do aluno..: 3
Digite o RA do aluno..: 190
Digite a nota do aluno..: 4
Digite o RA do aluno..: 133
Digite a nota do aluno..: 5
Digite o RA do aluno..: 456
Digite a nota do aluno..: 9
Digite o RA do aluno..: 136
Digite a nota do aluno..: 9
Digite o RA do aluno..: 327
Digite a nota do aluno..: 7
Digite o RA do aluno..: 481
Digite a nota do aluno..: 10
Digite o RA do aluno..: 269
Digite a nota do aluno..: 4
Digite o RA do aluno..: 441
Digite a nota do aluno..: 3
Digite o RA do aluno..: 282
Digite a nota do aluno..: 5
Digite o RA do aluno..: 499
Digite a nota do aluno..: 10
Digite o RA do aluno..: 409
Digite a nota do aluno..: 5
Digite o RA do aluno..: 437
Digite a nota do aluno..: 4
Digite o RA do aluno..: 246
Digite a nota do aluno..: 9
Digite o RA do aluno..: 445
Digite a nota do aluno..: 4
Digite o RA do aluno..: 222
Digite a nota do aluno..: 3
Digite o RA do aluno..: 419
Digite a nota do aluno..: 6
Digite o RA do aluno..: 453
Digite a nota do aluno..: 3
Digite o RA do aluno..: 343
Digite a nota do aluno..: 2
Digite o RA do aluno..: 336
Digite a nota do aluno..: 2
Digite o RA do aluno..: 191
Digite a nota do aluno..: 3
Digite o RA do aluno..: 446
Digite a nota do aluno..: 10
Digite o RA do aluno..: 349
Digite a nota do aluno..: 1
Digite o RA do aluno..: 466
Digite a nota do aluno..: 2
Digite o RA do aluno..: 340
Digite a nota do aluno..: 9
Digite o RA do aluno..: 101
Digite a nota do aluno..: 5
Digite o RA do aluno..: 240
Digite a nota do aluno..: 9
Digite o RA do aluno..: 226
Digite a nota do aluno..: 2
Digite o RA do aluno..: 498
Digite a nota do aluno..: 3
Digite o RA do aluno..: 458
Digite a nota do aluno..: 2
Digite o RA do aluno..: 275
A maior nota será..: 10 - RAs..: 251
A menor nota será..: 1 - RAs..: 466

In [ ]:
contador = 0
ra = 0

for contador in range (40):
    nota = int(input("Digite a nota do aluno..: "))
    ra = input("Digite o RA do aluno..: ")

    if contador == 0:
        nota_maior = nota
        nota_menor = nota
    if nota > nota_maior:
            nota_maior = nota
            ra_maior = ra
    if nota < nota_menor:
            nota_menor = nota
            ra_menor = ra
    contador = contador + 1

print("A maior nota será..:", nota_maior, "- RAs..:", ra_maior)
print("A menor nota será..:", nota_menor, "- RAs..:", ra_menor)

Digite a nota do aluno..: 2
Digite o RA do aluno..: 346
Digite a nota do aluno..: 5
Digite o RA do aluno..: 212
Digite a nota do aluno..: 10
Digite o RA do aluno..: 251
Digite a nota do aluno..: 3
Digite o RA do aluno..: 494
Digite a nota do aluno..: 10
Digite o RA do aluno..: 428
Digite a nota do aluno..: 5
Digite o RA do aluno..: 422
Digite a nota do aluno..: 9
Digite o RA do aluno..: 141
Digite a nota do aluno..: 9
Digite o RA do aluno..: 284
Digite a nota do aluno..: 10
Digite o RA do aluno..: 147
Digite a nota do aluno..: 4
Digite o RA do aluno..: 285
Digite a nota do aluno..: 3
Digite o RA do aluno..: 190
Digite a nota do aluno..: 4
Digite o RA do aluno..: 133
Digite a nota do aluno..: 5
Digite o RA do aluno..: 456
Digite a nota do aluno..: 9
Digite o RA do aluno..: 136
Digite a nota do aluno..: 9
Digite o RA do aluno..: 327
Digite a nota do aluno..: 7
Digite o RA do aluno..: 481
Digite a nota do aluno..: 10
Digite o RA do aluno..: 269
Digite a nota do aluno..: 4
Digite o RA do aluno..: 441
Digite a nota do aluno..: 3
Digite o RA do aluno..: 282
Digite a nota do aluno..: 5
Digite o RA do aluno..: 499
Digite a nota do aluno..: 10
Digite o RA do aluno..: 409
Digite a nota do aluno..: 5
Digite o RA do aluno..: 437
Digite a nota do aluno..: 4
Digite o RA do aluno..: 246
Digite a nota do aluno..: 9
Digite o RA do aluno..: 445
Digite a nota do aluno..: 4
Digite o RA do aluno..: 222
Digite a nota do aluno..: 3
Digite o RA do aluno..: 419
Digite a nota do aluno..: 6
Digite o RA do aluno..: 453
Digite a nota do aluno..: 3
Digite o RA do aluno..: 343
Digite a nota do aluno..: 2
Digite o RA do aluno..: 336
Digite a nota do aluno..: 2
Digite o RA do aluno..: 191
Digite a nota do aluno..: 3
Digite o RA do aluno..: 446
Digite a nota do aluno..: 10
Digite o RA do aluno..: 349
Digite a nota do aluno..: 1
Digite o RA do aluno..: 466
Digite a nota do aluno..: 2
Digite o RA do aluno..: 340
Digite a nota do aluno..: 9
Digite o RA do aluno..: 101
Digite a nota do aluno..: 5
Digite o RA do aluno..: 240
Digite a nota do aluno..: 9
Digite o RA do aluno..: 226
Digite a nota do aluno..: 2
Digite o RA do aluno..: 498
Digite a nota do aluno..: 3
Digite o RA do aluno..: 458
Digite a nota do aluno..: 2
Digite o RA do aluno..: 275
A maior nota será..: 10 - RAs..: 251
A menor nota será..: 1 - RAs..: 466

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
tabuada = 3
while tabuada <= 7:
    contador = 1
    while contador <= 10:
        print(tabuada,'x',contador,'=',tabuada * contador)
        contador = contador + 1
    print()#pula uma linha vazia
    tabuada = tabuada + 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
for tabuada in range(3,8):
    for contador in range(1,11):
        print(tabuada, "x", contador, "=", tabuada * contador)
    print() #pula uma linha vazia

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    # contar genero feminino = 0
    for alunos in range(1,3):
        # digitar os dados dos alunos
        genero = input('Cadastre o gênero M/F: ')
        if genero == 'F' or genero == 'f':
            # contar genero feminino
        #...
    # mostrar resultados de cada módulo
    # acumular valores para o curso
# mostrar resultados do curso

1 º módulo ..................................................



2 º módulo ..................................................



3 º módulo ..................................................



4 º módulo ..................................................



5 º módulo ..................................................



6 º módulo ..................................................

In [ ]:
qmulheres_curso = 0
qhomens_curso = 0
idade_curso = 0

for modulo in range(1,7):
    print(modulo,"º módulo","."*50)

    qmulheres_modulo = 0
    qhomens_modulo = 0
    idade_modulo = 0

    for alunos in range(30):
        idade = int(input("Digite a idade..: "))
        genero = input("Digite o gênero M ou F..: ")

        if genero == "F" or genero == "f":
            qmulheres_curso += 1
            qmulheres_modulo += 1
            idade_curso += idade
            idade_modulo += idade
        elif genero == "M" or genero == "m":
            qhomens_curso += 1
            qhomens_modulo += 1
            idade_curso += idade
            idade_modulo += idade

    print(f"Quantidade de mulheres por módulo..: {qmulheres_modulo:.2f}. Quantidade de homens por módulo..: {qhomens_modulo:.2f}. Media de idade do módulo..: {idade_modulo / 30}")
print(f"Quantidade de mulheres por curso..: {qmulheres_curso:.2f}. Quantidade de homens por curso..: {qhomens_curso:.2f}. Media de idade do curso..: {idade_curso / (qmulheres_curso + qhomens_curso)}")

1 º módulo ..................................................
Digite a idade..: 18
Digite o gênero M ou F..: F
Digite a idade..: 18
Digite o gênero M ou F..: M
Digite a idade..: 18
Digite o gênero M ou F..: M
Digite a idade..: 19
Digite o gênero M ou F..: M
Digite a idade..: 19
Digite o gênero M ou F..: M
Digite a idade..: 19
Digite o gênero M ou F..: M
Digite a idade..: 19
Digite o gênero M ou F..: M
Digite a idade..: 19
Digite o gênero M ou F..: F
Digite a idade..: 20
Digite o gênero M ou F..: F
Digite a idade..: 20
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: M
Digite a idade..: 29
Digite o gênero M ou F..: M
Quantidade de mulheres por módulo..: 11.00. Quantidade de homens por módulo..: 19.00. Media de idade do módulo..: 22.466666666666665
2 º módulo ..................................................
Digite a idade..: 30
Digite o gênero M ou F..: F
Digite a idade..: 19
Digite o gênero M ou F..: F
Digite a idade..: 19
Digite o gênero M ou F..: F
Digite a idade..: 19
Digite o gênero M ou F..: F
Digite a idade..: 20
Digite o gênero M ou F..: M
Digite a idade..: 20
Digite o gênero M ou F..: M
Digite a idade..: 20
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: M
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: M
Digite a idade..: 28
Digite o gênero M ou F..: M
Digite a idade..: 30
Digite o gênero M ou F..: M
Digite a idade..: 30
Digite o gênero M ou F..: M
Digite a idade..: 30
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: M
Digite a idade..: 24
Digite o gênero M ou F..: F
Quantidade de mulheres por módulo..: 16.00. Quantidade de homens por módulo..: 14.00. Media de idade do módulo..: 23.933333333333334
3 º módulo ..................................................
Digite a idade..: 20
Digite o gênero M ou F..: F
Digite a idade..: 20
Digite o gênero M ou F..: F
Digite a idade..: 20
Digite o gênero M ou F..: M
Digite a idade..: 20
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: M
Digite a idade..: 30
Digite o gênero M ou F..: F
Digite a idade..: 30
Digite o gênero M ou F..: M
Digite a idade..: 30
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: F
Digite a idade..: 32
Digite o gênero M ou F..: F
Quantidade de mulheres por módulo..: 16.00. Quantidade de homens por módulo..: 14.00. Media de idade do módulo..: 25.133333333333333
4 º módulo ..................................................
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: F
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 21
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 23
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 28
Digite o gênero M ou F..: F
Digite a idade..: 28
Digite o gênero M ou F..: M
Digite a idade..: 29
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: F
Digite a idade..: 31
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: M
Digite a idade..: 33
Digite o gênero M ou F..: M
Digite a idade..: 33
Digite o gênero M ou F..: M
Digite a idade..: 33
Digite o gênero M ou F..: M
Digite a idade..: 35
Digite o gênero M ou F..: F
Quantidade de mulheres por módulo..: 10.00. Quantidade de homens por módulo..: 20.00. Media de idade do módulo..: 25.9
5 º módulo ..................................................
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: F
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 22
Digite o gênero M ou F..: M
Digite a idade..: 24
Digite o gênero M ou F..: M
Digite a idade..: 24
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: F
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: M
Digite a idade..: 28
Digite o gênero M ou F..: M
Digite a idade..: 28
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: F
Digite a idade..: 31
Digite o gênero M ou F..: M
Digite a idade..: 31
Digite o gênero M ou F..: F
Digite a idade..: 32
Digite o gênero M ou F..: F
Digite a idade..: 32
Digite o gênero M ou F..: M
Digite a idade..: 34
Digite o gênero M ou F..: M
Digite a idade..: 34
Digite o gênero M ou F..: F
Digite a idade..: 34
Digite o gênero M ou F..: M
Digite a idade..: 35
Digite o gênero M ou F..: F
Digite a idade..: 36
Digite o gênero M ou F..: M
Digite a idade..: 36
Digite o gênero M ou F..: M
Quantidade de mulheres por módulo..: 16.00. Quantidade de homens por módulo..: 14.00. Media de idade do módulo..: 27.9
6 º módulo ..................................................
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 23
Digite o gênero M ou F..: F
Digite a idade..: 24
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: M
Digite a idade..: 25
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: F
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 26
Digite o gênero M ou F..: M
Digite a idade..: 27
Digite o gênero M ou F..: M
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 27
Digite o gênero M ou F..: M
Digite a idade..: 27
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: F
Digite a idade..: 29
Digite o gênero M ou F..: M
Digite a idade..: 32
Digite o gênero M ou F..: F
Digite a idade..: 32
Digite o gênero M ou F..: M
Digite a idade..: 32
Digite o gênero M ou F..: M
Digite a idade..: 32
Digite o gênero M ou F..: M
Digite a idade..: 32
Digite o gênero M ou F..: F
Digite a idade..: 33
Digite o gênero M ou F..: F
Digite a idade..: 33
Digite o gênero M ou F..: M
Digite a idade..: 33
Digite o gênero M ou F..: M
Digite a idade..: 34
Digite o gênero M ou F..: M
Digite a idade..: 34
Digite o gênero M ou F..: M
Digite a idade..: 34
Digite o gênero M ou F..: F
Digite a idade..: 35
Digite o gênero M ou F..: F
Digite a idade..: 35
Digite o gênero M ou F..: M
Quantidade de mulheres por módulo..: 13.00. Quantidade de homens por módulo..: 17.00. Media de idade do módulo..: 28.933333333333334
Quantidade de mulheres por curso..: 82.00. Quantidade de homens por curso..: 98.00. Media de idade do curso..: 25.711111111111112